.container{
  display: flex;
  /* background-color: green; */
  padding: 15px;
  justify-content: center;
  
}
.title{
  font-size: 1.8em;
  font-weight: 300;
  font-family: sans-serif;
}

.nav-group{
  display: flex;

}

.nav-items{
  display: flex;
  /* border: 1px solid white; */
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  color: grey;
}
.nav-items:hover{
    cursor: pointer;
  }

.iconContainer {
  height: 100%;
  /* padding: 5px 10px; */
}