.container{
  width: 100vw;
  min-height: 336px;
  overflow-y: hidden;

}

.imageContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.coverImage {
  position: absolute;
  width: 40%;
  /* left: calc(50% + 0px); */
  height: auto;
}

.infoWrapper{
  display: flex;
  position: absolute;
  left: calc(50% + 0px);
  top: calc(50% + 0px);

}