.container{
  background-image: url('../../public/images/ipad-home-image.jpeg');
  width: 100%;
  /* max-width: 100vw; */
  height: 736px;
  /* height: auto; */
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% + 0px);
  right: auto;
  transform: translatex(-50%);
  overflow-x: hidden;
  background-size: contain;
}


